footer{
    text-align: center;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%
  }

h1, h3{
    padding:0;
    margin:0
}
  
html {
    background-image: url(https://th.bing.com/th/id/R.8c9ede54851b20073e2e74f957f8b427?rik=uz4OXoC7xVI3zw&riu=http%3a%2f%2fimages2.fanpop.com%2fimages%2fphotos%2f3300000%2fCool-clouds-sunsets-and-sunrises-3334619-2560-1920.jpg&ehk=pe3yoOanGtQcaENhB0HiMDzVp0bwfzHIlQoyFUA%2fJJ8%3d&risl=&pid=ImgRaw&r=0);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* zoom: 80%; */
    /* background-position; */
    /* background-size: 100%; */
}

button{
    width:100px;
    height:100px;
    margin:2px;
    border-radius: 50%;
    font-size: 40px;
    border-color: transparent;
    /* box-shadow: inset 0px 0px 40px 40px #DBA632; */
}

.letters{
    /* justify-content: center; */
    vertical-align: middle;
    margin-top: 10px;
    /* margin-bottom:30%  */
}

header{
    text-align: center;
    color: white;
    top: 0;
    width: 100%
}

.Tess.name,.Phillips.name{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom:5%
}

.T{
    background-image: url(https://i.pinimg.com/originals/66/53/3e/66533e6a498d7e9c6f1515f8843b4042.jpg);
    background-size: 150%;
    background-position: center;
    color:white;
    background-blend-mode:darken;
}

.E{
    background-image: url(https://th.bing.com/th/id/OIP.f-KJKz3edo5U0fENbZ_pGQHaF3?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:rgb(255,255,255,0.8) ;
    background-blend-mode:darken;
}

.S{
    background-image: url(https://facresources.com/assets/logos/fac_logo.png);
    background-size: 250%;
    background-position: center;
    color:rgba(255, 139, 40, 1) ;
    /* background-blend-mode:darken; */
}

.S2{
    background-image: url(https://th.bing.com/th/id/OIP.NRPWPJPka-hqhbShFL2xbQHaE8?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:rgba(68, 105, 110, 1) ;
    background-blend-mode:color-burn;
}

.P{
    background-image: url(https://th.bing.com/th/id/OIP.3hRLJQMAKkAvk9N9a6QOFQHaGK?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:white ;
    /* background-blend-mode:color-burn; */
}

.H{
    background-image: url(https://th.bing.com/th/id/OIP.NRPWPJPka-hqhbShFL2xbQHaE8?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:rgba(68, 105, 110, 1) ;
    background-blend-mode:color-burn;
}

.I{
    background-image: url(https://th.bing.com/th/id/OIP.dlCCWPkQr0daSHhWs2JMYAHaDt?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:white ;
}

.L{
    background-image: url(https://th.bing.com/th/id/OIP.EDJ9xoErBbZqK2tExVoJfAHaHY?pid=ImgDet&rs=1);
    background-size: 100%;
    background-position: center;
    color:black ;
    /* background-blend-mode:color-burn; */
}

.L2{
    background-image: url(https://smiletutor.sg/wp-content/uploads/2017/02/education-reform.jpg);
    background-size: 150%;
    background-position: center;
    color:white ;
}

.I2{
    background-image: url(https://th.bing.com/th/id/OIP.NRPWPJPka-hqhbShFL2xbQHaE8?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:rgba(68, 105, 110, 1) ;
    background-blend-mode:color-burn;
}

.P2{
    background-image: url(https://th.bing.com/th/id/OIP.NRPWPJPka-hqhbShFL2xbQHaE8?pid=ImgDet&rs=1);
    background-size: 150%;
    background-position: center;
    color:rgba(68, 105, 110, 1) ;
    background-blend-mode:color-burn;
}

.S3{
    background-image: url(https://mgnsw.org.au/wp-content/uploads/2013/06/MAGM-Collection-Treasures-from-the-Vault-1-scaled.jpg);
    background-size: 150%;
    background-position: center;
    color: white ;
    /* background-blend-mode:color-burn; */
}


.letter{
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.para{
    display:none;
    text-align: center;
    width: 500px;
    margin: auto;
}

.para h3{
    font-weight: 400;
}

.para.T h3, .para.S h3, .para.S h1, .para.P h3, .para.P h1{
    background-color: antiquewhite;
    opacity: 0.8;
    color:black
}

.para.L2 h3, .para.L2 h1{
    background-color: antiquewhite;
    opacity: 0.5;
    color:black
}

a {
    color: blue;
  }
  
a:visited {
    color: yellowgreen;
  }
  
a:hover {
    color: orange;
  }
  
a:active {
    color: blue;
  }
@media screen and (max-width: 500px) and (min-width: 200px) {
  button{
    width:50px;
    height:50px;
    font-size: 20px;
}
    .para{
width: 300px;}
}
@media screen and (max-width: 200px){
    button{
      width:25px;
      height:25px;
      font-size: 10px;
  }
  .para{
    width: 150px;
  }
}